<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="post">
	<insert id="insert" parameterType="com.app.vo.PostVO">
		INSERT INTO TBL_POST(ID, POST_TITLE, POST_CONTENT)
		VALUES(POST_SEQ.NEXTVAL, #{postTitle}, #{postContent})
	</insert>
	
	<select id="select" parameterType="Long" resultType="PostVO">
		SELECT ID, POST_TITLE, POST_CONTENT
		FROM TBL_POST
		WHERE ID = #{id}
	</select>

	<select id="selectId" resultType="Long">
		SELECT ID 
		FROM (
			SELECT ID 
			FROM TBL_POST 
			ORDER BY ID DESC
		)
		WHERE ROWNUM = 1
	</select>
	
	<select id="selectAll" resultType="PostVO">
		SELECT ID, POST_TITLE, POST_CONTENT
		FROM TBL_POST
		ORDER BY ID ASC
	</select>
	
	<update id="update" parameterType="PostVO">
		UPDATE TBL_POST
		SET POST_TITLE = #{postTitle}, POST_CONTENT = #{postContent}
		WHERE ID = #{id}
	</update>
	
	<delete id="delete" parameterType="long">
		DELETE FROM TBL_POST
		WHERE ID = #{id}
	</delete>
	
</mapper>